<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link type="text/css" rel="stylesheet" href="views/css/normalize.css"/>
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
	<link type="text/css" rel="stylesheet" href="views/css/style.css"/>
	<title>Helena Haffner - CV en ligne</title>
	<script
		 src="https://code.jquery.com/jquery-3.6.0.min.js" 
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
		crossorigin="anonymous"></script>
</head>

<body>
	
	<header>
		<nav id="sideNav" class="sideNavMob">
			<ul>
				<?php if($_GET["page"]=="home-mobile"): ?>			
					<li id="SlideMenuButton"><i class="fas fa-bars"></i></li>
					<a href="#mainHeader" id="ongletSideZero" class="HiddenMenu Menu"><li>Accueil</li></a>
					<a href="#cv" id="ongletSideUn" class="HiddenMenu Menu"><li>CV</li></a>
					<a href="#exemples" id="ongletSideDeux" class="HiddenMenu Menu"><li>Exemples</li></a>
					<a href="#about" id="ongletSideTrois" class="HiddenMenu Menu"><li>Moi</li></a>
					<a href="#contact" id="ongletSideQuatre" class="HiddenMenu Menu"><li>Contact</li></a>
				<?php endif	?>


				<?php if ($_GET["page"]!="home-mobile"): ?>
					<li id="SlideMenuButton"><i class="fas fa-bars"></i></li>
					<a href="/" id="ongletSideZero" class="HiddenMenu Menu"><li>Accueil</li></a>
					<a href="/curriculum-vitae" id="ongletSideUn" class="HiddenMenu Menu"><li>CV</li></a>
					<a href="/exemples" id="ongletSideDeux" class="HiddenMenu Menu"><li>Exemples</li></a>
					<a href="/a-propos" id="ongletSideTrois" class="HiddenMenu Menu"><li>Moi</li></a>
					<a href="/contact" id="ongletSideQuatre" class="HiddenMenu Menu"><li>Contact</li></a>
				<?php endif	?>
			</ul>			
		</nav>

		<div id="themeHeader">
			<h2 id="themeHeaderTitle"><a href="/"><font color="#ffff00">P</font><font color="#ffdf0d">o</font><font color="#ffbf1a">r</font><font color="#ff9f26">t</font><font color="#ff8033">f</font><font color="#ff6040">o</font><font color="#ff404d">l</font><font color="#ff2059">i</font><font color="#ff0066">o</font> de Helena Haffner</a></h2>
			<!-- <ul id="switchTheme">
				<li>Autre thème:</li>
				<li><img src="<?= $imgNav ?>art-3561710_1922.jpg" alt="thème Deux"></li>
			</ul> -->
		</div>

		<div id="mainHeader">
			<a href="/"><h1><span><font color="#ffff00">P</font><font color="#ffdf0d">o</font><font color="#ffbf1a">r</font><font color="#ff9f26">t</font><font color="#ff8033">f</font><font color="#ff6040">o</font><font color="#ff404d">l</font><font color="#ff2059">i</font><font color="#ff0066">o</font></span> <br>de Helena Haffner</h1></a>

			<nav>
				<ul id="Nav">
					<?php if ($_GET["page"]=="home-mobile"): ?>
						<a href="#home"><li id="ongletZero">Accueil</li></a>
						<a href="#cv"><li id="ongletUn">CV</li></a>
						<a href="#exemples"><li id="ongletDeux">Exemples</li></a>
						<a href="#about"><li id="ongletTrois">Qui suis-je ?</li></a>
						<a href="#contact"><li id="ongletQuatre">Me Contacter</li></a>
					<?php endif	?>

					<?php if ($_GET["page"]!="home-mobile"): ?>
						<a href="/"><li id="ongletZero">Accueil</li></a>
						<a href="/curriculum-vitae"><li id="ongletUn">CV</li></a>
						<a href="/exemples"><li id="ongletDeux">Exemples</li></a>
						<a href="/a-propos"><li id="ongletTrois">Qui suis-je ?</li></a>
						<a href="/contact"><li id="ongletQuatre">Me Contacter</li></a>
					<?php endif	?>
				</ul>

				<div id="barre"></div>
				
			</nav>

		</div>
	</header>


	<main>
			
		
		<?php include $template . '.phtml' ?>


	</main>





<?php if ($_GET["page"] != "home-mobile" && $_GET["page"] != "galerie" && $_GET["page"] != "card-game"): ?>
	<script src="views/js/mobileRedirect.js"></script>
<?php endif ?>

<?php if ($_GET["page"] == "home-mobile" || $_GET["page"] == "galerie" || $_GET["page"] == "card-game"): ?>
	<script src="views/js/slideBarMobile.js"></script>
<?php endif ?>

<script src="views/js/main.js"></script>

</body>

</html>