@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Finger+Paint&family=Lobster&family=Playfair+Display:wght@400;700&display=swap');


/*Généralités*/
body{
	text-align: center;
	background-image: url("../pictures/background/cherry-blossom-5862511.jpg");
	background-size: 150%;
	background-attachment: fixed;
	font-family: "Finger Paint";
}

header{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

main{
	width: 75%;
	max-width: 1500px;
	min-height: 1000px;
	padding-top: 70px;
	margin-left: auto;
	margin-right: auto;
}

section{
	width: 90%;
	max-width: 1500px;
	margin-right: auto;
	margin-left: auto;


}

article{
	margin-right: auto;
	margin-left: auto;
}

h1{
	display: inline-block;
	width: 100%;
	font-size: 65px;
	color: #fff;
	text-shadow: #000000 1px 10px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	margin-top: 0;
}

main h2, h3{
	color: #fff;
	text-shadow: #000000 5px 5px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	padding-bottom: 50px;
}

h2{
	font-size: 38px;
}

h3{
	font-size: 32px;
	font-family: "Lobster";
	padding-bottom: 20px;
}

h4{
	color: #fff;
	font-size: 22px;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
}

p{
	font-family: "Courgette";
}

header a{
	color: #fff;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	font-size: 20px;
	text-decoration: none;
}

a{
	text-decoration: none;
}



p, .cvDL, #sites_exemples a{
	font-size: 23px;
	text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
}


/*navigation apparaissant quand on scroll*/
#sideNav{
	width: 120px;
	height: 100%;
	position: fixed;
	z-index: 1;
}

#sideNav ul{
	display: none;
	height: 100%;
	width: 100%;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
}

#sideNav ul a{
	height: 18%;
	background-size: 220px;
	background-position: top right;
	border: solid black 2px;
	box-shadow: 12px  2px 1px rgba(0, 0, 255, .2);
	border-left: none;	
	padding-right: 40px;
	padding-top: 23px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -150px;
	transition-duration: 1s;
}

#sideNav li{
	font-size: 1.5rem;
	width: 100%;
	height: 100%;
	text-align: right;
	margin-left: 0;
}

#SlideMenuButton{
	display: none;
}

#ongletSideZero{
	background-image: url('../pictures/nav/art-3561710_1922.jpg');
	width: 1px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 80px;
}

#ongletSideUn{
	background-image: url('../pictures/nav/flower-6206820.jpg');
	width: 1px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 70px;
}

#ongletSideDeux{
	background-image: url('../pictures/nav/flower-3350053_1922.jpg');
	width: 1px;
	border-top-right-radius: 60px;
	border-bottom-right-radius: 60px;
}

#ongletSideTrois{
	background-image: url('../pictures/nav/drawing-3346778.jpg');
	width: 1px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 90px;
}

#ongletSideQuatre{
	background-image: url('../pictures/nav/art-4178304.jpg');
	width: 1px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 30px;
}

#sideNav a:hover{
	transform: scale(1.1);
	transition-duration: 1s;

}



/*div fixe supérieure sur laquelle apparait le nom du site au scroll*/
#themeHeader{
	width: 100%;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	position: fixed;
	background-image: url("../pictures/background/cherry-blossom-5862512.jpg");	
	background-size: 150%;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
}

#themeHeaderTitle{
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

#themeHeaderTitle a{
	color: #fff;
	font-size: 0;
	text-shadow: #000000 4px 6px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	text-align: center;
}

/*#switchTheme{
	display: flex;
	justify-content: flex-end;
	width: 20%;
}

#switchTheme li{
	width: 80px;
	color: #fff;
	margin-top: 2px;
	text-shadow: #000000 1px 2px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

#switchTheme li img{
	width: 60%;
	border-radius: 100%;
	border: solid 0.5px #fff;
}*/



/*Header*/
#mainHeader{
	padding-top: 55px;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

#mainHeader span{
	font-size: 75px;
}

#Nav{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	height: 120px;
}

#Nav li{
	list-style: none;
	border: solid black 2px;
	border-bottom: none;
	box-shadow: 12px  2px 1px rgba(0, 0, 255, .2);
	transition-duration: 1s;
}

#Nav a{
	width: 18%;
}

#Nav li{
	width: 100%;
	padding-top: 30px;
	background-size: cover;
}

#ongletZero{
	background-image: url('../pictures/nav/art-3561710_1922.jpg');
	height: 60px;
	border-top-left-radius: 30px;
	border-top-right-radius: 50px;
}

#ongletUn{
	background-image: url('../pictures/nav/flower-6206820.jpg');
	height: 80px;
	border-top-left-radius: 50px;
	border-top-right-radius: 20px;
}

#ongletDeux{
	background-image: url('../pictures/nav/flower-3350053_1922.jpg');
	height: 40px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

#ongletTrois{
	background-image: url('../pictures/nav/drawing-3346778.jpg');
	height: 75px;
	border-top-left-radius: 10px;
	border-top-right-radius: 50px;
}

#ongletQuatre{
	background-image: url('../pictures/nav/art-4178304.jpg');
	height: 50px;
	border-top-left-radius: 45px;
	border-top-right-radius: 30px;
}

#Nav li:hover{
	height: 110px;
}

#barre{
	height: 15px;
	width: 100%;
	background-image: url("../pictures/nav/olga-thelavart-vS3idIiYxX0-unsplash.jpg");
	background-size: cover;
	border: solid black 5px;
	border-radius: 20px;
}


/*Pages*/
.cvDL{
	display: inline-block;
	width: 250px;
	border: solid 3px #fff;
	border-radius: 30px;
	background-color: #FFD700;
	transition-duration: 1s;
}

.cvDL:hover{
	border-radius: 50px;
	color: #000;
	
}

/*Page Home*/
#home>article>p{
	font-size: 28px;
}

#homeIcones{
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
}

#homeIcones img{
	width: 80px;
}

#homeIcones img:last-child{
	width: 70px;
}

/*Page Curriculum Vitae*/
#cv article{
	margin-top: 80px;
}

#cv .cvDL{

}

#CvTechno{
	display: flex;
	justify-content: space-around;
}

.CvTechnoDiv{
	width: 33%;
}

.CvTechnoDiv li{
	font-size: 21px;
	height: 33px;
	text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
}

#cv img{
	height: 30px;
	max-width: 30px;
	margin-bottom: -10px;
}

.techBarre{
	width: 1px;
	height: 180px;
	border-right: solid 3px #000;
	margin-top: 90px;
}

.CvFormaExp li{
	width: 80%;
	font-family: "Courgette";
	font-size: 26px;
	text-shadow: #fff 1px 1.5px, #fff -1px 1.5px, #fff -1px -1px, #fff 1px -1px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
}



/*Page Exemples*/
#sites_exemples ul{
	display: flex;
	justify-content: center;
}

#sites_exemples li{
	width: 33%;
}

#exemples h5{
	font-size: 22px;
	text-shadow: #fff 1px 1.5px, #fff -1px 1.5px, #fff -1px -1px, #fff 1px -1px;
}

#vignetteCouture{
	background-image: url("../pictures/page_exemples/vignette_site_couture.png");
}

#vignetteGalerie{
	background-image: url("../pictures/page_exemples/vignette_galerie.png");
}

#vignetteCartes{
	background-image: url("../pictures/page_exemples/vignette_cartes.png");
}

.vignette_ex{
	display: inline-block;
	width: 150px;
	height: 100px;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	border: solid #fff 2px;
}

.vignette_ex:hover{
	background-size: 110%;
	background-position: center;
}




/*Page Gallerie*/
#galerie{
	width: 100%;
}

#principale{
	max-height: 600px;
	max-width: 80%;
	margin-bottom: 20px;
	border: solid 10px #fff;
	box-shadow: 20px 20px 10px #000000;

}

#choixImages{
	display: flex;
	justify-content: space-around;
}

#choixImages .cadre{
	height: 100px;
	width: 120px;
	/*display: inline-block;*/
	border: solid 5px #fff;
	background-size: cover;
	background-position: center;
	margin: 0;
}

#choixImages .cadre:first-child{
	transform: scale(1.1);
}



/*Page jeu de cartes*/
#cardPage article{
	width: 100%;
}

.CardChoice {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 50px;
}

.CetteCarte{
	width: 17%;
	box-shadow: 50px 40px 30px #000;
}

#AfficheCarte{
	width: 100%;
	margin-bottom: 100px;
}

#VotreCarte{
	width: 30%;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 50px 50px 50px #000;
}

#BentoButton{
	width: 200px;
	background-color: yellow;
	font-family: "Arizonia";
	font-size: 2rem;
	text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
	border: solid #000 3px;
	border-radius: 3.5rem;
	margin-bottom: 50px;
}

#BentoButton:hover{
	color: #fff;
	text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
}

#blabla{
	margin-bottom: 50px;
}

#BentoChoice{
	display: flex;
	justify-content: space-around;
}

.CetteCarteDeux{
	width: 18%;
	box-shadow: 50px 40px 30px #000;
	transition: 1s;
}

.CetteCarteDeux:hover{
	transform: scale(1.1);
}



/*Page About*/
#aboutContent{
	height: 1250px;
	width: 90%;

}

#aboutOngletsListe{	
	width: 100%;
	height: 15%;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
}

.cetOnglet{
	background-image: url("../pictures/page_about/art-3561710_1929.jpg");
	background-size: cover;
	font-family: "Lobster";
	font-size: 1.5rem;
	color: #fff;
	display: flex;
	justify-content: center;
    align-items: center;
	width: 18%;
	height: 80%;
	border: solid #fff 2px;
	border-bottom: none;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
}

.ongletActif{
	border-bottom: none;
	height: 100%;

}

#aboutContentOnglet{
	background-image: url("../pictures/page_about/olga-thelavart-vS3idIiYxX0-unsplashBig.jpg");
	background-size: cover;
	height: 80%;
	position: relative;
	border: solid #000 3px;
	border-radius: 10px;
}

.onglets{
	position: absolute;
	padding: 30px;
	opacity: 0;
}

.contenuActif{
	opacity: 1;
}

.aboutIllu{
	width: 70%;
	height: 300px;
	background-size: cover;
	background-position: center top;
	border: solid #F5FFFA 4px; /*mintcream*/
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
}

#aboutIllUn{
	background-image: url("../pictures/page_about/code-gb128a5e39_1920.jpg");
}

#aboutIllDeux{
	background-image: url("../pictures/page_about/typewriter-801921.jpg");
}

#aboutIllTrois{
	background-image: url("../pictures/page_about/books-2599241.jpg");
}

#aboutIllQuatre{
	background-image: url("../pictures/page_about/pexels-stas-knop-9100862.jpg");
}

#aboutIllCinq{
	background-image: url("../pictures/page_about/pexels-elviss-railijs-bitāns-1389429.jpg");
}

.bigger{
	font-weight: 900;
}



/*Page Contact*/
#contact p{
	font-size: 25px;

}

#infoContact{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

#infoContact{
	font-size: 26px;
	color: #fff;
	font-family: "Courgette";
	text-shadow: #000 1px 1px, #000 -1px 1px, #000 -1px -1px, #000 1px -1px;
}

#infoContact li{
	width: 380px;
	height: 200px;
	padding-top: 30px;
	background-color: rgba(255,105,180,0.1); /*hotpink*/
	border: solid #FFFAF0 4px; /*floralwhite*/
	border-radius: 15px;
}

#infoContact img{
	width: 130px;
}




/*Page HomeMobile*/
#HomeMobile{
	width: 100%;
}

#HomeMobile section{
	padding-bottom: 40px;
	margin-bottom: 60px;
	border-radius: 20px;
}

#HomeMobile section:not(:last-of-type){
	border-bottom: solid #000 5px;
}








/*tablette*/
@media screen and (max-width: 992px){
	
	
/*Généralités*/
	body{
		background-size:240%;
		background-position: top center;
		background-attachment: fixed;
	}

	main{
		width: 85%;
	}


/*navigation apparaissant quand on scroll*/
	#sideNav{
		width: 32px;
		height: 50px;
	}

	#sideNav ul{
		justify-content: start;
	}

	#sideNav ul #SlideMenuButton{		
		display: none;
		padding-top: 10px;
		margin-left: 2px;
		margin: 0;
		color: #000;		
		padding-right: 0;
		height: 50px;
		width: 30px;
	}

	#sideNav ul a{
		height: 15%;
		margin-left: 0;
		margin-top: 0;
		padding-top: 0;
	}

	#sideNav li{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.HiddenMenu{
		display: none;
	}



/*Header*/
	#themeHeader{
		background-size:240%;
		background-position: top center;
	}

	#themeHeaderTitle{
		font-size: 20px;
	}

	h1{
		font-size: 35px;
	}

	#mainHeader{
		width: 95%;
	}



/*Page CV*/
	#CvTechno{
		/*display: block;*/
		flex-direction: column;
	}

	.CvTechnoDiv{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.techBarre{
		display: none;
	}

	.CvFormaExp li{
		width: 100%;
	}




/*Page Galerie*/
#choixImages{
	display: block;
}

#choixImages .cadre{
	height: 100px;
	width: 120px;
	display: inline-block;
}




/*Page Cartes*/
#cardPage{
	width: 100%;
}

#cardPage article{
	width: 100%;
}

.CetteCarte{
	width: 22%;
}

#VotreCarte{
	width: 40%;
}

.CetteCarteDeux{
	width: 24%;
}


/*Page About*/
#aboutContent{
	height: 1300px;
	width: 90%;
}

.cetOnglet{
	font-size: 1.2rem;
	width: 20%;
}

#aboutContentOnglet{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.aboutIllu{
	height: 200px;
}

#about .onglets p{
	font-size: 21px;
}




/*Page Contact*/
	#infoContact{
		width: 100%;
		font-size: 23px;
		justify-content: space-between;
	}

	.contactTel{
		margin-left: 10px;
	}

}



/*téléphone portable*/
@media screen and (max-width: 768px){ 

/*Généralités*/
	body{
		background-size: cover;
	}

	h2{
		font-size: 30px;
	}

	h3{
		font-size: 24px;
	}



/*SideNav*/
	#themeHeader{
		display: none;
	}



/*Header*/
	#mainHeader span{
		font-size: 60px;
	}

	#Nav{
		 flex-direction: column;
		 align-items: center;
		width: 95%;
		height: 500px;
		margin-top: 50px;
	}

	#Nav a{
		width: 90%;
		height:60px;
	}

	#Nav a li{
		height: 60px;
		border: solid black 2.5px;
		border-radius: 50px;
	}

	#barre{
		display: none;
	}



/*Page Exemple*/
	#sites_exemples ul{
		display: inline-block;
	}

	#sites_exemples li{
	width: 100%;
	}




/*Page Galerie*/

#choixImages .cadre{
	height: 90px;
	width: 100px;
}



/*Page About*/
#aboutContent{
	height: 1400px;
	width: 100%;
}

.cetOnglet{
	font-size: 1rem;
	width: 20%;
	font-family: "Playfair Display";
	writing-mode: vertical-rl;
}

.onglets{
	padding: 10px;
}

.aboutIllu{
	height: 100px;
}

#about .onglets p{
	font-size: 19px;
}




/*Page Contact*/
	#infoContact{
		display: inline-block;
	}

	#infoContact p{
		font-size: 20px;
	}
	#infoContact li{
		width: 100%;
		height: 160px;
		font-size: 20px;
	}

	.contactTel{
		margin-top: 20px;
		margin-left: 0;
	}

#infoContact{
	font-size: 21px;
	
}

	#infoContact img{
		width: 100px;
	}



}


			