<section id='about'>
	<h2>Helena Haffner ?</h2>


	<article id="aboutContent" >

		<ul id="aboutOngletsListe">
			<li class="cetOnglet ongletActif" data-id="onglet1">Présentation</li>
			<li class="cetOnglet" data-id="onglet2">Écriture</li>
			<li class="cetOnglet" data-id="onglet3">Lecture</li>
			<li class="cetOnglet" data-id="onglet4">Jeux-Vidéo</li>
			<li class="cetOnglet" data-id="onglet5">Musique</li>
		</ul>

		<ul id="aboutContentOnglet">
			<li data-id="onglet1" class="onglets contenuActif">
				
				<div id="aboutIllUn" class="aboutIllu"></div>
				
				<p class="bigger">Je me nomme Helena Haffner et je suis développeuse et intégratrice web junior.</p>
				<p>Après un temps à préparer et passer des concours pour devenir bibliothécaire, j'ai finalement décidé de me tourner vers les métiers du web qui offrent davantage de débouchés.</p>
				<p>Au travers d'une formation au métier de développeur et intégrateur web, j'ai ainsi découvert un nouvel univers passionnant qui stimule ma curiosité et mon imagination et, par certains côtés, m'a offert un regard nouveau sur le monde.</p>
				<p>Si, pour des raisons personnelles, je ne me suis pas immédiatement lancée dans cette aventure, c'est désormais avec enthousiasme que je recherche un emploi dans ce domaine.</p>
				<p>Et, puisque vous êtes avant tout sur ce site pour jauger mes compétences, c'est sous forme d'onglets que je vais vous présenter mes autres centres d'intérêts.</p>
			</li>

			<li data-id="onglet2" class="onglets">
				<div id="aboutIllDeux" class="aboutIllu"></div>
				<p class="bigger">L'écriture est une de mes passions!</p>
				 <p>J'ai écris quelques nouvelles, contes et poèmes, un scénario de court-métrage ainsi qu'un roman. De plus, j'ai déjà une trentaine d'idées d'histoires en attente d'être écrites.</p>
				 <p>J'aime particulièrement écrire de la fiction car celle-ci me permet d'explorer des idées et des univers de toute sortes et de repousser toujours plus loin les frontières de mon imagination. À travers elle, je me sens m'épanouir !</p>
				 <p>Si le Fantastique et le Policier sont mes univers de prédilections, je compte bien m'attaquer à des histoires de tous les genres ou presque.</p>
				 <p>À l'heure actuelle, je n'ai rien publié mais mon premier roman se trouve entre les mains d'éditeurs donc qui sait ... .</p>
				<p>Mon deuxième roman est en cours d'écriture ! Un troisième et un quatrième sont en attente !</p>
			</li>
			
			<li data-id="onglet3" class="onglets">
				<div id="aboutIllTrois" class="aboutIllu"></div>
				<p class="bigger">Une autre de mes passions est la lecture !</p> 
				<p>Dans ma bibliothèque, vous trouverez  des romans policiers, de la SF, mais aussi du Fantastique, de la Fantaisie, un peu de Littérature Générale et mêmes quelques Essais. Je lis également beaucoup de Mangas, des Comics, quelques BD et parfois des Visual Novels.</p> 
				<p>En parallèle, j'ai également développé un amour du livre en tant qu'objet et c'est donc tout naturellement que j'ai fini par accumuler des centaines et des centaines d'ouvrages sur mes étagères et bibliothèques.</p>
				<p> Les enquêtes du détective Gidéon Fell écrites par John Dickson Carr,<em>Sandman</em> de Neil Gaiman, <em>Shiki</em> de Fujisaki Ryu ou encore le Visual Novel <em>Umineko No Naku Koro Ni</em> du studio 07th Expansion sont des oeuvres qui ne cessent me fasciner.</p>
			</li>

			<li data-id="onglet4" class="onglets">
				<div id="aboutIllQuatre" class="aboutIllu"></div>
				<p class="bigger">J'aime également beaucoup les jeux-vidéos.</p>
				<p>Je joue principalement à des jeux solo et coopératifs. Ce que j'aime dans un jeux-vidéo, c'est découvrir une histoire, la richesse narrative ou graphique d'un univers et des variétés de gameplay. J'aime qu'il me surprenne, qu'il me fasse réfléchir, qu'il m'émeuve et qu'il me pousse à me dépasser.</p>
				<p>En revanche, je ne suis pas intéressée par le côté compétitif du jeux-vidéo, en particulier lorsqu'il s'agit d'affronter directement d'autres joueurs. Malgré tout, il m'arrive de suivre les évènements E-Sport sur Star Craft 2, Age of Empire 2 et 4 et les marathons et autres évênements caritatifs centrés sur le Speedrun.</p>
				<p>Parmi les jeux qui m'ont marqué je pourrais citer <em>Céleste</em>, <em>Life is Strange</em>, <em>Nier Automata</em>, ou encore <em>Metal Gear Solid</em>.</p>
			</li>

			<li data-id="onglet5" class="onglets">
				<div id="aboutIllCinq" class="aboutIllu"></div>
				<p class="bigger">Enfin, j'adore écouter de la musique.</p>
				<p>Si je n'ai malheureusment jamais appris à jouer d'un instrument, je passe une bonne partie de mes journées à en écouter, que ce soit lorsque j'écris ou que je lis, lorsque je code ou lorsque je sors, et même en cuisinant.</p>
				<p>J'écoute principalement des OST de jeux-vidéos, d'animés et de films. Si en ce moment j'écoute énormément les musiques de <em>Nier Automata</em> et <em>Nier Replicant</em>, c'est avec grand plaisir que je reviens régulièrement vers les OST de <em>Skyrim, Dark Souls 3, Umineko No Naku Koro Ni, Aria</em> ou encore <em>Shiki</em>.</p>
				<p>J'aime également particulièrement <em>Daft Punk, Oh Wonder, Akeboshi, Peter Gundry, Isaac Delusion</em> et <em>Stereo Alchemy</em>!</p>
			</li>
		</ul>

	</article>
</section>

<script src="views/js/aboutPage.js"></script>