<section id="cardPage">

	<article>

		<h2>Tirez une Carte ! </h2>


		<div id="ChoixCartes" class="CardChoice">

			<img src="<?= $cards ?>Dos-de-cartes.jpg" alt="choixuN" class="CetteCarte">
			<img src="<?= $cards ?>Dos-de-cartes.jpg" alt="choixDeux" class="CetteCarte">
			<img src="<?= $cards ?>Dos-de-cartes.jpg" alt="choixTrois" class="CetteCarte">
			<img src="<?= $cards ?>Dos-de-cartes.jpg" alt="choixQuatre" class="CetteCarte">

		</div>


		<div id="AfficheCarte">

			<h3 id="NomDeCarte">Voyons la carte que vous allez tirer !!</h3>
			<img src="<?= $cards ?>Dos-de-cartes.jpg" alt="Votre Carte" id="VotreCarte">

		</div>		

	</article>

	<article id="bentoGame">

		<h2>Testons le jeu du bento !!</h2>


			<button href="" id="BentoButton">Mélangeons les cartes !</button>
			<p id="blabla"> Et si on jouait ?</p>

			<div id="BentoChoice" class="CardChoice">

			<img src="<?= $cards ?>Queen_of_hearts.png" alt="" id="BentoUn" class="CetteCarteDeux face" data-id="notShuffleYet">
			<img src="<?= $cards ?>King_of_diamonds_fr.png" alt="" id="BentoDeux" class="CetteCarteDeux face" data-id="notShuffleYet">
			<img src="<?= $cards ?>Jack_of_clubs.png" alt="" id="BentoTrois" class="CetteCarteDeux face" data-id="notShuffleYet">
			<img src="<?= $cards ?>As_of_spades_A.png" alt="" id="BentoQuatre" class="CetteCarteDeux face"data-id="notShuffleYet">
			</div>


	</article>
	<script src="views/js/cardPage.js"></script>
</section>