<section id="contact">
	
	<h2>Comment me contacter ?</h2>

	<p>Actuellement à la recherche d'un emploi en tant que <span class="bigger">développeuse ou intégratrice web</span>,<br> n'hésitez pas à me contacter !!</p>

	<ul id="infoContact">
		<li><img src="<?= $icoCont ?>723email2_101014.svg"><br>helaena.haffner@gmail.com</li>
		<li class="contactTel"><img src="<?= $icoCont ?>smartphone_smart_phone_mobile_profile_icon_124610.svg"><br>06.09.53.16.15</li>
	</ul>

</section>
