<section id="cv">

	<h2>Curriculum Vitae</h2>

	
		<h3>Développeuse / Intégratrice web junior</h3>

		<?php if ($_GET["page"] != "home-mobile"): ?>
			<a href="views/pictures/CV/Helena_HAFFNER_CV.pdf" download class="cvDL"><p>télécharger mon cv</p></a>
                        <a href="https://gitlab.com/Featherine" class="cvDL"><p>Voir mon Gitlab</p></a>
		<?php endif ?>


	<article id="CvTechno">
		<div class="CvTechnoDiv">
			<h4>Technologies maitrisées</h4>
			<ul>
				<li><img src="<?= $icoCV ?>icons8-html-5.svg" alt="icône HTML"> HTML</li>
				<li><img src="<?= $icoCV ?>icons8-css3.svg" alt="icône CSS"> CSS</li>
				<li><img src="<?= $icoCV ?>icons8-javascript.svg" alt="icône JS"> Javascript</li>
				<li><img src="<?= $icoCV ?>icons8-logo-php.svg" alt="icône PHP"> PHP</li>
				<li><img src="<?= $icoCV ?>sql-database-sql-azure-svgrepo-com.svg" alt="icône SQL"> SQL</li>
				<li><img src="<?= $icoCV ?>jquery-svgrepo-com.svg" alt="icône JQuery"> JQuery</li>
			</ul>
		</div>

		<div class="techBarre"></div>

		<div class="CvTechnoDiv">
			<h4>Technologies en cours d'acquisition</h4>
			<ul>
				<li><img src="<?= $icoCV ?>react.svg" alt="icône React"> React</li>
                                <li><img src="<?= $icoCV ?>java-svgrepo-com.svg" alt="icône Java"> Java</li>
                                <li><img src="<?= $icoCV ?>icons8-node-js.svg" alt="icône NodeJs"> NodeJs</li>
                                <li><img src="<?= $icoCV ?>alpine-js-seeklogo.com.svg" alt="icône AlpineJS"> AlpineJS</li>
				<li><img src="<?= $icoCV ?>tailwind-css-seeklogo.com.svg" alt="icône Tailwind"> Tailwind CSS</li>
			</ul>
		</div>

		<div class="techBarre"></div>

		<div class="CvTechnoDiv">

			<h4>Technologies prévues à l'étude</h4>
			<ul>
				<li><img src="<?= $icoCV ?>kuteicon.ico" alt="icône KuteJS"> Kute.js</li>
				<li><img src="<?= $icoCV ?>vue-9-logo-svgrepo-com.svg" alt="icône VueJS"> Vue.js</li>
				<li><img src="<?= $icoCV ?>python-seeklogo.com.svg" alt="icône Python"> Python</li>
				<li><img src="<?= $icoCV ?>logo_Csharp.svg" alt="icône C#"> C#</li>
                                <li><img src="<?= $icoCV ?>wordpress-svgrepo-com.svg" alt="icône WP"> Wordpress</li>
			</ul>
		</div>
	</article>

	<article id="CvFormation" class="CvFormaExp">
		<h3>Formation</h3>
		<ul>
			<li>2018 : Formation en développement et intégration web à la 3W Academy équivalent BAC +2</li>
			<li>2014/2015 : DUT métier du livre en année spéciale à l'IUT Charlemagne de Nancy</li>
			<li>2013 : Formation de quatre jours à la gestion d’une bibliothèque publique dispensée par la BDBR</li>
			<li>2011/2012 : Première année de Master EMOS (Etudes Méditerranéennes, Orientales et Slaves) parcours japonais à l’Université de Strasbourg</li>
			<li>2008/2011 : Licence Langue, Littérature et Culture Étrangère parcours Japonais à l’Université de Strasbourg</li>
			<li>2007 : Baccalauréat Littéraire option lourde cinéma audiovisuel au Lycée Kirschleger de Munster</li>
		</ul>

	</article>

	<article id="CvExp" class="CvFormaExp">
		<h3>Expériences Professionnelles</h3>
		<ul>
			<li> 2019-2020 : Écriture de mon premier roman (en attente de réponse d'éditeurs)</li>
			<li>Du 29 juillet au 31 août 2019 : Cueilleuse saisonnière chez EARL Les Vergers du Rhin</li>
			<li>octobre 2016 – février 2017 : Formation APP pour le concours de bibliothécaire assistant spécialisé classe supérieure externe</li>
			<li>Du 1 avril 2015 au 28 mai 2015 :Bibliothécaire stagiaire à la Bibliothèque Universitaire Sciences et Techniques de Nancy</li>
			<li>Juillet 2014 : Bibliothécaire à la Médiathèque de Marckolsheim « La Bouilloire »</li>
			<li>Juillet 2013 : Bibliothécaire à la Médiathèque de Marckolsheim « La Bouilloire »</li>
			<li>De Février 2013 à septembre 2014 : Bibliothécaire bénévole à la Médiathèque de Marckolsheim « La Bouilloire »</li>
		</ul>
	</article>

</section>
		