<section id="exemples">
	
	
	<article id="sites_exemples">
		<h3>Quelques exemples</h3>
		<ul>
			<li>
				<h5>Un exemple de galerie</h5>
				<a href="/galerie" id="vignetteGalerie" class="vignette_ex"></a>
			</li>

			<li>
				<h5>Jouons aux cartes !</h5>
				<a href="/card-game" id="vignetteCartes" class="vignette_ex"></a>
			</li>
		</ul>
	</article>

</section>
