<section id="galerie">
	<h2>Un exemple de Galerie</h2>
		<!-- Faire plusieurs onglets donnant chacun à un type différent de galerie. Pour changer
		de types d'onglet, on utiliserai du js qui reconstruira dans <article> une autre forme de galerie! -->
	<article>
		<img src="<?= $gall ?>01.jpg" alt="" id="principale">
	
		<div id="choixImages">

			<figure style="background-image: url(<?= $gall ?>01.jpg)" class="cadre" data-src="<?= $gall ?>01.jpg">
			</figure>		

			<figure style="background-image: url(<?= $gall ?>02.jpg)" class="cadre" data-src="<?= $gall ?>02.jpg">
			</figure>

			<figure style="background-image: url(<?= $gall ?>03.jpg)" class="cadre" data-src="<?= $gall ?>03.jpg">
			</figure>

			<figure style="background-image: url(<?= $gall ?>04.jpg)" class="cadre" data-src="<?= $gall ?>04.jpg">
			</figure>

			<figure style="background-image: url(<?= $gall ?>05.jpg)" class="cadre" data-src="<?= $gall ?>05.jpg">
			</figure>

			<figure style="background-image: url(<?= $gall ?>06.jpg)" class="cadre" data-src="<?= $gall ?>06.jpg">
			</figure>

			<figure style="background-image: url(<?= $gall ?>07.jpg)" class="cadre" data-src="<?= $gall ?>07.jpg">
			</figure>

			<figure style="background-image: url(<?= $gall ?>08.jpg)" class="cadre" data-src="<?= $gall ?>08.jpg">
			</figure>

			<figure style="background-image: url(<?= $gall ?>09.jpg)" class="cadre" data-src="<?= $gall ?>09.jpg">
			</figure>

			<figure style="background-image: url(<?= $gall ?>10.jpg)" class="cadre" data-src="<?= $gall ?>10.jpg">
			</figure>
		</div>
	</article>
</section>

<script src="views/js/galeriePage.js"></script>
