<section id='home'>

	<!-- <h2>Bienvenue sur le site de Helena Haffner</h2> -->

	<article>
		<p>Bonjour et bienvenue sur mon site de présentation !</p>
		<p>Je me nomme Helena Haffner et je suis développeuse et intégratrice web junior à la recherche d'un emploi.</p>
		<p>Je vis actuellement en Alsace mais suis prête à travailler n'importe où en France métropolitaine.</p>
		<a href="views/pictures/CV/Helena_HAFFNER_CV.pdf" download class="cvDL"><p>télécharger mon cv</p></a>
                <a href="https://gitlab.com/Featherine" class="cvDL"><p>Voir mon Gitlab</p></a>
		
		<?php if ($_GET["page"] != "home-mobile"): ?>
			<ul id="homeIcones">
				<li><img src="<?= $icoCV ?>icons8-html-5.svg" alt="icône HTML"></li>
				<li><img src="<?= $icoCV ?>icons8-css3.svg" alt="icône CSS"></li>
				<li><img src="<?= $icoCV ?>icons8-javascript.svg" alt="icône JS"></li>
				<li><img src="<?= $icoCV ?>icons8-logo-php.svg" alt="icône PHP"></li>
				<li><img src="<?= $icoCV ?>81_sql-database.0029fc2bee.svg" alt="icône SQL"></li>
			</ul>
		<?php endif ?>

	</article>

</section>




